.Form form {
  width: 180px;
  margin: 0 auto;
  display: block;
  position: relative; }

.Form .form-input label {
  display: block;
  text-align: left;
  margin-bottom: 5px; }

.Form .form-input input {
  border: 1px solid grey;
  transition: all .3s ease;
  width: 100%;
  padding: 5px; }
  .Form .form-input input.error {
    border: 1px solid red; }
  .Form .form-input input:focus {
    outline: none; }

.Form span.error {
  color: red;
  font-size: 10px;
  display: block;
  left: 0px;
  position: absolute; }

.Form button {
  background: green;
  margin: 20px 0px 0 auto;
  display: block;
  font-size: 16px;
  height: 25px;
  padding: 0 15px; }
  .Form button.disabled {
    background: rgba(0, 128, 0, 0.1);
    pointer-events: none; }
