.Form{
    form{
        width:180px;
        margin:0 auto;
        display: block;
        position: relative;
    }
    .form-input{
        label{
           display: block;
           text-align: left;
           margin-bottom: 5px;
        }
        input{
            border:1px solid grey;
            transition: all .3s ease;
            width:100%;
            padding: 5px;
            &.error{
                border:1px solid red;
            }
            &:focus{
                outline: none;
            }
        }
    }

    span.error{
        color: red;
        font-size: 10px;
        display: block;
        left: 0px;
        position: absolute;
    }

    button{
        background: green;
        margin: 20px 0px 0 auto;
        display: block;
        font-size: 16px;
        height: 25px;
        padding: 0 15px;

        &.disabled{
            background: rgba(green, 0.1);
            pointer-events: none;
        }

    }
}