.List {
  padding: 0;
  max-width: 400px;
  margin: 0 auto; }
  .List li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; }
    .List li div {
      padding: 5px 0px; }
  .List .close {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 18px; }
    .List .close:hover {
      cursor: pointer; }
