.List{
    padding: 0;
    max-width: 400px;
    margin:0 auto;

    li{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        position: relative;

        div{
            padding: 5px 0px;
        }
    }

    .close{
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        right: 0;
        top:18px;

        &:hover{
            cursor: pointer;
        }
    }
}